.navbar {
  height:50px;
  margin-bottom:0px !important;
   h3 {
    float:right;
    margin-top:0px;
  }
}
.container-fluid {
  height:50px;
}
.title {
  text-align:center;
}
.container {
  margin-top:10px;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
  border:none !important;
}
.form-group {
  margin-bottom:3px !important;
}
.input-group {
  margin-left:15px;
}
